.meetingpoint {
  min-height: 100vh;
}

.meetingpoint h1 {
  font-family: 'Consolas';
  margin: 0px 20px;
  padding: 20px 0px;
  text-shadow: 1px 1px 1px black;
}

.appointment--switch {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--switch button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--switch button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--reorderDate {
  position: absolute;
  top: 214px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--reorderHour {
  position: absolute;
  top: 258px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--reorderDate button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--reorderHour button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--reorderDate button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--reorderHour button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--refresh {
  position: absolute;
  top: 302px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--refresh button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--refresh button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}


/*Create meetingPoint*/
.frameofsearch {
  position: absolute;
  top: 22%;
  left: 33%;
  width: 580px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas';
  background: linear-gradient(170deg, royalblue, blue, navy);
  border-radius: 15px;
  box-shadow: 0px 0px 5px white;
}

.div--xclose {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.div--xclose p {
  margin: auto 0px;
  padding: 4px 8px;
  font-family: 'Times';
  background: lightgrey;
  border-radius: 50%;
  color: blue;
}

.div--xclose p:hover {
  background: blue;
  border-radius: 50%;
  color: lightgrey;
}

.title--newappointment {
  display: flex;
  justify-content: center;
  color: lightgreen;
}

.divMP--content {
  width: 65%;
  margin: 10px auto;
  margin-right: 120px;
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bold;
}

.divMP--content input {
  margin-left: 10px;
  background: lightgrey;
  border: 1px solid lightgreen;
}

.div--textarealabel label {
  width: 84%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-weight: bold;
}

.text--areacreate {
  display: flex;
  justify-content: center;
  margin: auto;
}

/*BTN Save New Appointment*/

.divbtn--createmeeting {
  margin: 10px 0px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--createmeeting {
  padding: 10px 10px;
  font-family: 'Consolas';
  font-size: 1rem;
  font-weight: bold;

  background: linear-gradient(160deg, royalblue, blue, navy);
  border: 1px solid dodgerblue;
  box-shadow: 0px 0px 5px whitesmoke;
  border-radius: 3px;
  color: whitesmoke;
}

.btn--createmeeting:hover {
  background: lightblue;
  border: 1px solid lightblue;
  color: blue;
}

.create--div {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.create--div h3 {
  text-shadow: 1px 1px 1px black;
}

.create--div button {
  margin: 0px 10px;
}

.lastmainpoint--div {
  height: auto; 
}
