.meetingpoint {
  min-height: 100vh;
}

.meetingpoint h1 {
  font-family: 'Consolas';
  margin: 0px 20px;
  padding: 20px 0px;
  text-shadow: 1px 1px 1px black;
}

/*Search Lastname*/

.dash--searchLastname {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 20px;

  background: blue;
  border-radius: 15px;
  box-shadow: 0px 0px 7px cyan;
  z-index: 10;
}

.div--topcruze {
  psition: relative;
}

.div--topcruze p {
  position: absolute;
  width: 25px;
  top: 0px;
  right: 20px;


  background: lightgrey;
  border-radius: 50%;
}

.lastname--cruze {
  cursor: pointer;
  color: blue;
}

.lastname--cruze:hover {
  color: white;
  background: blue;
  border: 1px solid blue;
}


.subdash--searchLastname {
  margin: auto;
  width: 80%;
  text-align: center;
}

.subdash--searchLastname h2 {
  font-size: 1.8rem;
  color: lightgreen;
}

.input--btnlastnamesearch input {
  margin-right: 10px;
}

.input--btnlastnamesearch button {
  width: 100px;
  margin: 10px 10px;
  padding: 5px 0px;

  font-weight: bold;
  background: linear-gradient(170deg, royalblue, navy);
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 4px whitesmoke;
  color: whitesmoke;
}

.subdash--searchLastname p {
  font-size: 1.2rem;
  font-weight: bold;
}

.span--lastname {
  display: flex;
  flex-direction: column;
}

.span--lastname li {
  width: 70%;
  margin: 1% 20%;
  display: flex;
  list-style: circle;
  font-size: 0.9rem;
  font-weight: bold;
  color: whitesmoke;
}

/*END of searchLastname*/

/*left-side BTN*/

.appointment--switch {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--switch button {
  width: 300px;
  padding: 5px 10px;
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--switch button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--reorderDate {
  position: absolute;
  top: 214px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--reorderHour {
  position: absolute;
  top: 258px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--reorderDate button {
  width: 300px;
  padding: 5px 10px;
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--reorderHour button {
  width: 300px;
  padding: 5px 10px;
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--reorderDate button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--reorderHour button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--searchLastname {
  position: absolute;
  top: 302px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--searchLastname button {
  width: 300px;
  padding: 5px 10px;
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--searchLastname button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--refresh {
  position: absolute;
  top: 346px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--refresh button {
  width: 300px;
  padding: 5px 10px;
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--refresh button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

/*Create meetingPoint*/

.frameofsearch {
  position: absolute;
  top: 22%;
  left: 33%;
  width: 580px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(170deg, royalblue, blue, navy);
  border-radius: 15px;
  box-shadow: 0px 0px 5px white;
}

.div--xclose {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.div--xclose p {
  margin: auto 0px;
  padding: 4px 8px;
  font-family: 'Times';
  background: lightgrey;
  border-radius: 50%;
  color: blue;
}

.div--xclose p:hover {
  background: blue;
  border-radius: 50%;
  color: lightgrey;
}

.title--newappointment {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: lightgreen;
}

.divMP--content {
  width: 65%;
  margin: 10px auto;
  margin-right: 120px;
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bold;
}

.divMP--content input {
  padding: 1px 5px;
  margin-left: 10px;
  background: lightgrey;
}

.div--textarealabel label {
  width: 84%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-weight: bold;
}

.text--areacreate {
  margin: auto;
  display: flex;
  justify-content: center;
}

.text--areacreate textarea {
  margin: 5px 0px;
  padding: 1px 5px;
}

/*BTN Save New Appointment*/

.divbtn--createmeeting {
  margin: 10px 0px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--createmeeting {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;

  background: linear-gradient(160deg, royalblue, blue, navy);
  border: 1px solid cyan;
  box-shadow: 0px 0px 4px whitesmoke;
  border-radius: 3px;
  color: whitesmoke;
}

.btn--createmeeting:hover {
  background: lightblue;
  border: 1px solid lightblue;
  color: blue;
}

.create--div {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.create--div h3 {
  text-shadow: 1px 1px 1px black;
}

.create--div button {
  margin: 0px 10px;
}

.lastmainpoint--div {
  height: auto; 
}
