/*SubMeeting*/

.mainfirst--div {
  margin: 10px 20px;
  height: auto;
  display: flex;
  align-items: center;
}

.first--data {
  width: 820px;
  height: auto;
  margin: 0px 0px;
  margin-left: 23%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background: linear-gradient(170deg, #1e90ff, blue, navy);
  border-radius: 15px;
  box-shadow: 0px 0px 3px cyan;
  color: #31dddd;
}

.capsview--div {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.left--divview {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.caps--div {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left--div {
  width: 55%;
  display: flex;
  flex-direction: row;
}

/*Viewer*/

.pview--left {
  width: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'Consolas';
  font-weight: bold;
}

.pview--left p {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: right;
}

.p--left {
  min-width: 120px;
  display: flex;
  justify-content: right;
  font-family: 'Consolas';
  font-weight: bold;
}

.p--left p {
  display: flex;
  align-items: center;
  justify-content: right;
}

.input--date input {
  margin: 5px 0px;
  padding: 1px 3px;
  width: 86px;
  font-size: 1.0rem;
  background: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px cyan;
  color: blue;
}

.right--divhour {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.input--hour input {
  width: 44px;
  padding: 1px 3px;
  display: flex;
  justify-content: left;
  font-size: 1.0rem;
  background: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px cyan;
  color: blue;
}

/*Location-Map second component*/

.caps--location {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.p--location {
  margin-left: 30px;
}

.p--location p {
  margin: auto;
  font-family: 'Consolas';
  font-weight: bold;
}

.input--location {
  margin: 0px 10px;
  margin-right: 20px;
  width: 504px;
}

.input--location input {
  width: 100%;
  padding: 2px 6px;
  width: 500px;
  font-size: 1.0rem;
  background: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px whitesmoke;
  color: blue;
}

.a--location {
  margin-left: 10px; 
}

.hwg--a {
  width: 40px;
  padding: 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(170deg, royalblue, navy);

  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 5px cyan;
  color: #31dddd;
}

.hwg--a:hover {
  background: lightblue;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

/*Input & BTN*/

.right--div {
  margin: auto;
  padding: 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.input--right {
  margin: auto 10px;
  display: flex;
  justify-content: right;
}

.input--right input {
  width: 180px;
  padding: 2px 6px;
  font-size: 1.0rem;
  background: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px whitesmoke;
  color: blue;
}

.input--right input:hover {
  background: blue;
  border-color: 1px solid dodgerblue;
  box-shadow: 0px 0px 5px #31dddd;
  color: #31dddd;
}

/*BTN PANEL*/

.changephone--div {
  margin: auto 10px;
  display: flex;
}

.changephone--div input {
  width: 200px;
  margin-right: 12px;
  font-size: 1.0rem;
  border: 1px solid lightblue;
  border-radius: 5px;

  background: blue;
  border-color: 1px solid dodgerblue;
  box-shadow: 0px 0px 5px #31dddd;
  color: #31dddd;
}

.btn--modify {
  padding: 5px 20px;
  font-weight: bold;
  font-size: 0.8rem;

  background: linear-gradient(170deg, royalblue, navy);
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 5px cyan;
  color: #31dddd;
}

.btn--modify:hover {
  background: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.changephone--btndiv {
  margin: auto;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.changephone--btndiv button {
  width: 60px;
  margin: auto;
  padding: 5px 0px;
}


/*Textarea of second component*/

.caps--textarea {
  margin-top: 5px;
  display: flex;
}

.subtextarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.text--area {
  width: 665px;
  height: 60px;
  padding: 3px 6px;
  margin-left: 10px;
  margin: 10px;
  font-size: 0.9rem;
  background: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px whitesmoke;
  color: blue;
}

/*BTN of second component*/
.btn--meetingdelete {
  width: 100%;
  display: flex;
  justify-content: right;
}

.btn--meetingdelete button {
  width: 100px;
  margin: 10px 10px;
  margin-left: 20px;
  padding: 5px 10px;

  font-family: 'Consolas';
  font-weight: bold;
  background: linear-gradient(170deg, royalblue, navy);
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 5px cyan;
  color: #31dddd;
}

.btn--meetingdelete button:hover {
  background: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.delete--meetingbtn {

}

.input--visiblecolor {
  padding: 0px 6px;
  margin-right: 10px;

}
